*{margin: 0px;padding: 0px;}
#head{ background-color: #7e0001;}
#head_top{
    height: 30px;width: 1000px;
    margin: 0 auto;
}
.p1,.p2{
    line-height: 30px;
    margin-top:0px;
    font-size: 14px;height: 30px;
    color:#fff;vertical-align: middle;
}
.p1,.p3{float: left;}
.p2,.p4{float: right;}
#banner{width: 1000px;height: 151px;margin: 10px auto;margin-bottom: 10px;}
#logo{height: 106px;}
#nav{
    clear: both;
    width: 1000px;height: 45px;
    margin: 0 auto;
    background: url("../img/nav-bg.jpg") repeat-x;
}
ul li{
    width:100px;height: 45px;
    float: left; list-style: none;
    display: inline;
    margin-right: 20px;
}
.u1{margin:0 40px;}
.l1{width: 140px;}
ul li a{
    color:#fff;
    font-size: 18px;width: 130px;
    text-decoration: none; line-height: 45px;
    display: inline-block;
    text-align: center;
}
ul li ul li{
    height: 35px;
}
ul li ul li a{
    background: url("../img/bg.jpg");
    line-height: 34px;color: #000;
    font-size: 14px;
    border-bottom: 1px dashed grey;
    z-index: 1;position: absolute;
}
ul li ul{display: none;}
ul li a:hover{color: red;}
ul li:hover ul{display: block;}
#content{
    clear: both;
    /* margin-top: 10px; */
    width: 1000px;height: 360px;
    margin: 10px auto;
    background: url("../img/bg.jpg") repeat-x;
}
#left{
    width: 48.5%;float: left;
    height: 360px;
    border: 2px solid #7e0001;
    padding: 0px;
}
#right{
    width: 48.5%;float: right;
    border: 2px solid #7e0001;
    height: 360px;
    padding: 0px;margin: 0px;
}
.top{
    background: #7e0001;
    height: 45px;
}
.p5{
    float: left;margin-left: 10px;font-size: 21px;color: #fff;
    vertical-align: middle;
    line-height: 45px;
}
.p6{
    float: right;margin-right: 10px;
    font-size: 14px;color: #fff;
    line-height: 45px;
}
#footer{
    margin-top: 20px;
    text-align: center;
    background: #7e0001;
    height:60px ;
}
#footer p{
    line-height: 60px;
    vertical-align: middle;color: #fff;font-size: 14px;
}
